### Required for Unit Testing not for Offical Release
#Cert/
#Config

### VS Code & venv ###
.vscode/
.vscode/*
.vscode/settings.json
venv

# Ignore Python bytecode
__pycache__/
*.py[cod]
*.pyc
*.bak

# Dev drops
*.env
prometheus_multiproc_dir/
