[Unit]
Description=Sensors_Controller
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/Bollnas
ExecStart=/home/pi/Bollnas/Bollnas/run.sh 
Restart=on-abort
User=pi

[Install]
WantedBy=multi-user.target
