[Unit]
Description=SensorHub
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/pi/Github/Bollnas
ExecStart=/home/pi/Github/Bollnas/Bollnas/run.sh sensorhub
Restart=on-abort
User=pi

[Install]
WantedBy=multi-user.target
